html {
    color: white;
    background-color: black;
    
}
h1 {
    color: #5ff202;
    font-family: 'SourceCodePro-Medium', ＭＳ ゴシック, 'MS Gothic', monospace;
    padding-left: 200px;

}
div {
    padding-left: 150px;
    font-family: Arial;
    color: #5ff;
    
    
}

